<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat Da Burger!</title>
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Gudea:400,700&display=swap" rel="stylesheet">
		
	</head>
	<body>
		{{{ body }}}
		<script src="/assets/js/burger.js"></script>
	</body>
</html>