<div>
  <div class = "container">

<h1><strong>Eat Da Burger!</strong></h1>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <ul>
    <div class="row">
      <div class="col">
        {{burger_name}}
      </div>
      <div class="col">
        <button class="devour" data-id="{{this.id}}">Devour it!</button>
      </div>
    </div>
  </ul>
  {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
  {{#if devoured}}
<ul>
    <div class="row">
      <div class="col">
        {{burger_name}}
      </div>

      <div class="col">
        {{devoured}}
      </div>
    </div>
  </ul>
  {{/if}}

  {{/each}}
</ul>

<h2>Add a Burger</h2>

<form class="create-burger">
    <label for="burgers">Burger Name:</label>
    <input type="text"  id="addburger" name="name" value="">

  <button  type="submit">Add Burger</button>
</form>

  </div>
</div>